@use 'src/styles/vars';

.carts {
width: 96vw;
margin: auto;
display: flex;
flex-wrap: wrap;

@media (min-width: vars.$desktop){
    width: 80vw;
    flex-wrap: nowrap;
}

  &__content {
    background-color: vars.$primary-color;
    margin: 1rem 1rem 1rem 1rem;
    border: 0.1rem solid vars.$secondary-color;
    border-radius: 1%;

      @media (min-width: vars.$desktop){
        width: 200%;
      }

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      border-bottom: 0.1rem solid vars.$secondary-color;
      margin: 1rem 1rem 1rem 1rem;
      }

      &__title {
        font-size: 1.5rem;
      }

      &__price {

      }
  }

  &__article {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
      padding: 1rem 0rem 1rem 0rem;
      border-bottom: 0.1rem solid vars.$secondary-color;
      
      &__picture {
        width: 50%;
        height: 50%;
      }

      &__description {
        width: 30%;
        margin-left: 1rem;
      }

      &__value {
        width: 10%;
        text-align: right;

        @media (min-width: vars.$desktop4k){
          width: 15%;
        }
      }

      &__avalaible {
        background-color: rgb(26, 237, 26);
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        border-radius: 5%;
      }

      &__stock {
        display: flex;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        border-radius: 5%;

        &__delete {
          
          &__icon {
            width: 2.5rem;
            padding: 0rem 0.2rem 0rem 0.2rem;
          }
  
          &__paragraph {
            display: none;
          }
        }

        &__quantity {
          background-color: white;
          padding: 0.6rem 0.5rem 0.6rem 0.5rem;
          border-left: 1px solid black;
          border-right: 1px solid black;
        }

        &__add {
          display: flex;
          align-items: center;
  
          &__icon {
            width: 2.5rem;
            padding: 0rem 0.2rem 0rem 0.2rem;
          }
  
          &__paragraph {
            display: none;
          }
        }
          
      }
      
      &__total {
        display: flex;
        justify-content: flex-end;
        margin: 0rem 1rem 0.5rem 0rem;
      }

  }

    &__pay {

      background-color: vars.$primary-color;
      margin: 1rem 1rem 1rem 1rem;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      border: 0.1rem solid vars.$secondary-color;
      border-radius: 1%;
      display: flex;
      flex-direction: column;

      @media (min-width: vars.$desktop){
        width: 80%;
        padding: 2rem 2rem 2rem 2rem;
      }
      
          &__description {
      
          }
      
          &__total {
            text-align: center;

            @media (min-width: vars.$desktop){
              padding: 2rem 0rem 2rem 0rem;
            }
          }
      
          &__button {
            margin: 0rem 2rem 1rem 2rem;
            padding: 0.5rem 0rem 0.5rem 0rem;
            background-color: #F0C24F;
          }
        }
    
  }
