@use 'src/styles/vars';

.articles {
  margin-top: 2rem;
  min-height: 200vh;
  width: 80%;
  margin: 2rem auto 2rem;
  @media (max-width : vars.$pad) {
    width: 100%;
    }


  
  &--title {
    text-transform: uppercase;
    width: 30%;
    // margin: auto;
    // text-align: center;
    font-size: 2rem;
    padding: 1.2rem 0.6em;
    @media (max-width : vars.$large) {
      width: 40%;
      font-size: 2rem;
      }
    @media (max-width : vars.$desktop) {
      width: 50%;
      font-size: 2rem
      }
    @media (max-width : vars.$pad) {
      width: 100%;
      font-size: 2rem
      }
  
  }
  &--articles {
    // border:1px solid grey;
    // border-radius: 15px;
    margin: vars.$gutter;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    // background-color: rgb(35, 47, 62, 0.9);

      a {
        margin: 1rem;
        
      }
      
  }

  
 
}

