@use 'src/styles/vars';

.profile {

  height: 80vh;
  margin: auto;

  &--title {
    margin-top: 1rem;
    padding: vars.$gutter;

    @media (min-width: vars.$pad) { 
      text-align: center;
      margin-top: 2rem;
     }
  }
  &--container {
    border:1px solid grey;
    border-radius: 2rem;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    width: 20rem;

    @media (min-width: vars.$pad) { 
      margin-top: 5rem;
     }
  }
  &--form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem 0rem; 
  } 

  &--button__info {
    background-color: #EFBE43;
    border-radius: 1rem;
    margin-top: 1rem;
  }
  &--button__delete {
    background-color: #e44f22;
    border-radius: 1rem;
    margin-top: 1rem;
  }
  &--button__delete:hover {
    color: #EFBE43;
  }
  &--field__label {
    display: flex;
    flex-direction: column;
    float: left;
    margin: 0.5rem 0.5rem;
  }
}

