@use 'src/styles/vars';

.profile {
  min-height: 100vh;
  margin: auto;

  &--title {
    margin-top: 2rem;
    padding: vars.$gutter;

    @media (min-width: vars.$phone) { 
      text-align: center;
      margin-top: 2rem;
     }
  }
  &--container {
    border:1px solid grey;
    border-radius: 2rem;
    margin: 2rem auto 2em;
    display: flex;
    width: 30rem;

    @media (max-width: vars.$pad) { 
      margin: 2rem auto 2em;
      width: 25rem;
     }

     @media (max-width: vars.$phone) { 
      margin: 2rem auto 2em;
      width: 20rem;
     }
  }
  &--form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem 0rem; 

    @media (min-width: vars.$pad) { 
      width: 20rem;
     }
  } 
  &--field__input {
    width: 100%;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid grey;
  }
  &--button__info {
    background-color: #F0C24F;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 1rem 0rem;
  }
  &--button__delete {
    background-color: #c22;
    color: white;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 1rem 0rem;
  }
  &--field__label {
    display: flex;
    flex-direction: column;
    float: left;
    margin: 0.5rem 0.5rem;
  }
}

