@use 'src/styles/vars';


.article {

  padding: 2*vars.$gutter;
  @media (max-width : vars.$pad) {
    padding: 2*vars.$gutter 0 0;
     }

  &--container{
    display: flex;
    @media (max-width : vars.$pad) {
     display: block;
      }


    &__img {
      width: 25%;
      display: flex;
      @media (max-width : vars.$pad) {
        width: 100%;
        height: 100%;
        margin: auto;
         }
      
      @media (max-width : 950px) {
        width: 20%;
        }
      &--art {
        width: 100%;
        margin: auto;
      }
    }

    &__details {
      width: 50%;
      @media (max-width : vars.$pad) {
        width: 80%;
        margin: auto;
         }
      @media (max-width : 950px) {
        width: 45%;
        }

       &--box {
         display: flex;
         justify-content: space-between;
        &__title {
        
          text-align: center;
          font-weight: bold;
          font-size: 4em;
          display: inline-block;
          width: auto;
          @media (max-width : vars.$pad) {
            width: 100%;
             }
        }
        & div {
          @media (max-width : vars.$pad) {
            display: none;
             }
        }
        &__notation{
          
          display: inline-block;
          width: 60px;
          text-align: end;
         
        }
        &__rate{
         
          display: inline-block;
          width: 70px;
          text-align: end;
          
        }
       }
      

      .box{
        display: flex;
        justify-content: flex-end;
        margin-bottom: vars.$gutter;
        strong {
          background-color: indigo;
          margin-right: vars.$gutter;
          display: block;
          width: 50px;
          text-align: center;
          color: white;
          border-radius: 20px;
        }
      }
      &--description {
        border: 1px solid grey;
        border-radius: 15px;
        padding: vars.$gutter;
        font-size: 1.2em;
        & span {
          display: block;
          padding-top: vars.$gutter;
        }
      }
      
      

    }

    &__cart {
      width: 25%;
      border: 3px solid grey;
      border-radius: 15px;
      margin: 0 0 0 2*vars.$gutter;
      padding: 0.5*vars.$gutter;
      text-align: center;
      @media (max-width : 950px) {
        width: 35%;
        }
      
      max-height: 300px;

      @media (max-width : 950px) {
        max-height: 400px;
        }



      &--title{
        padding-top: 2*vars.$gutter;
        text-align: center;
        font-weight: bold;
        font-size: 1.8em;
      }
      &--add {

       margin-bottom: vars.$gutter;
       margin-top: 2*vars.$gutter;
        
   
         &__click {
           width: 25px;
           font-weight: bold;
         }
         &__counter {
           width: 35px;
         }
         &__cart{
           margin-left: 0.7em;
           padding: 0.4em;
           border-radius: 10px;
           background-color: #F0C24F;
           width: 50%;

         }
        
       }
       
       &--buy {
        margin-bottom: vars.$gutter;
        text-align: center;
         &__click {
           width: 25px;
           font-weight: bold;
         }
         &__counter {
           width: 35px;
         }
         &__cart {
          margin-left: 0.7em;
          padding: 0.4em;
          border-radius: 10px;
          background-color: #e78c03;
          width: 50%;

         }
   
       }

       &--favorite {
         width: 100%;
         text-align: center;
         margin: 2em auto 0;
         padding: 0.6em;
          border-radius: 10px;
          background-color: #e6d924;
       }
    }

    

  }


}
.slider--container {
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 2*vars.$gutter;
  display: flex;
  justify-content: space-between;

  &__box {
    padding: vars.$gutter;
    margin: vars.$gutter;
    text-align: center;
    border: 3px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 10px #555;

    &--img {
      width: 100%;
    }

    &--title {
      margin: 0;
    }
  }
}

.avis--container {
  display: flex;
  margin-top: 2*vars.$gutter;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 3*vars.$gutter;

  &__title {
    padding-right: 3*vars.$gutter;

  }

  &__box {
    border: 3px solid grey;
    border-radius: 15px;
    width: 40%;
    margin-right: 2*vars.$gutter;
    padding: vars.$gutter;
    box-shadow: 0 0 10px #555;

    &--img {

    }

    &--user {

    }

    &--message {

    }
  }
}
