$primary-color: #EAEDED;
$secondary-color: #232F3E;
$third-color: #B8B9B9;
$main-color: #131921;

$text-color: white;

$gutter: 1rem;

$desktop4k: 1440px;
$desktop: 1024px;
$phone: 450px;
$pad: 750px;
$middle: 950px;
$large: 1800px;
