$primary-color: #EAEDED;
$secondary-color: #232F3E;
$third-color: #B8B9B9;
$main-color: #131921;

$purple: hsl(245, 35%, 22%);
$l-purple: #332F63;
$t-purple: #8C8AA7;
$pink: #FF5E65;
$white: #fff;

$text-color: white;

$gutter: 1rem;

$desktop4k: 1440px;
$desktop: 1024px;
$phone: 450px;
$pad: 750px;
$middle: 950px;
$large: 1800px;
