@use 'src/styles/vars';

.new-account {
  min-height: 200vh;

  

  &--title {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 1.5em;
  }
  &--field__input {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 4px;
    border: 1px solid grey;
  }
  &--field__inputFalse {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: rgb(242, 159, 159);
  }

  &--container {
    border: 1px solid grey;
    border-radius: 4px;
    width: 40vw;
    margin: 5em auto;
    padding: vars.$gutter;
    text-align: left;
    margin-bottom: 2em;
  }

  &--paragraphe {
    padding-bottom: 1em;
    margin: 0;
  }

  &--button__submit{
    width: 100%;
    background-color: #F0C24F;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 4px;
  }

  &--button__create{
    background-color: white;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 5em;
    width: 100%;
  }

  &--section{
    margin: auto;
    text-align: center;
    width: 40vw;
  }
}

@media (max-width : vars.$pad) {
  .new-account--section{
    width: 80vw;
  }

  .new-account--container {
    width: 80vw;
  }
}
