@use 'src/styles/vars';

.home {
width: 100vw;
@media (min-width : vars.$pad) {
  width: 80vw;
  margin: auto;
  }
@media (min-width: vars.$desktop){
  width: 80vw;
  margin: auto;
}

  &__categories {
    background: linear-gradient(#B8B9B9,vars.$primary-color);
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

    &__category {
      background-color: vars.$text-color;
      margin: 10px 0px 10px 0px;

      &__picture {
        max-width:40vw;
        max-height: 40vh;
        padding: 1rem 1rem 1rem 1rem;

        @media (min-width : vars.$pad) {
          max-width:30vw;
          max-height: 30vh;
          }
        @media (min-width: vars.$desktop){
          max-width:25vw;
          max-height: 25vh;
        }
      }
    }
  }

  &__articles {
    background-color: vars.$primary-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 1rem 1rem 1rem;

    &__article {
      background-color: vars.$text-color;
      margin: 1rem 0.5rem 1rem 0.5rem;

      &__picture {
        max-width: 40vw;
        max-height: 40vh;
        padding: 1rem 1rem 1rem 1rem;

        @media (min-width : vars.$pad) {
          max-width:30vw;
          max-height: 30vh;
          }
        @media (min-width: vars.$desktop){
          max-width:20vw;
          max-height: 20vh;
        }
      }
    }
  }
}
