@use 'src/styles/vars';

.home {
width: 100vw;
@media (min-width : vars.$pad) {
  width: 80vw;
  margin: auto;
  }
@media (min-width: vars.$desktop){
  width: 80vw;
  margin: auto;
}

  &__categories {
    background: white;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


    &--title {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 2.5em;
      color: vars.$secondary-color;
    
    }
    

    
  }

  &__articles {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 1rem 1rem 1rem;

    &--title {
      width: 100%;
      border-top: 3px solid vars.$main-color;
      padding-top: 1em;
      text-align: center;
      text-transform: capitalize;
      font-size: 2.5em;
      color: vars.$secondary-color;
    }

    
  }
}
