@use 'src/styles/vars';




.card {
  margin: 1em;

  &--article {
    background-color: vars.$text-color;
    width: 100%;
    border-radius: 15px;
    transition: all 0.5s linear;
    box-shadow: 1px 1px 15px black;

    &__title{
      font-size: 1em;
      text-transform: capitalize;
      text-align: center;
      padding: 0 0.5em 0.5em;
      color: vars.$secondary-color;
      margin: 0;
    
    }

    &--container {  
      display: flex;
      justify-content: space-between;
      overflow-wrap: break-word;

      &__rate {
        padding: 1em;
      }

      &__price {
        padding: 0 1em 0.5em;
        margin: auto;
        color: vars.$secondary-color;
        font-size: 2em;
        font-weight: bold;


      }
    }


    &__picture {
    
      padding: 0.5em ;
      border-radius: 20px;
      width: 100%;
      max-height: 280px;

    }
    &__title {
      color: vars.$secondary-color;
      text-align: center;
      font-size: 1.5em;

      @media (max-width: vars.$desktop){
        font-size: 1.1em;

      }
      
    }
  }

  .card--article:hover {
    background-color: rgb(255, 165, 0, 0.85);
    
    .card--article__title {
      color: white;
    }
  }
}


