.card {
  margin: 0.1rem 0.5rem;
  
  &--button {
    background-color: rgb(170, 22, 22);
    width: 2rem;
    font-size: 1.5rem;
    border-radius: 80%;
    position: relative;
    bottom: 32rem;
    left: 14rem;
}
}

