@use 'src/styles/vars';

.login{
  height: 100%;
  &--title {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 1.5em;
  }
  &--field__input {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 3em;
    border-radius: 4px;
    border: 1px solid grey;
  }

  &--container {
    border: 1px solid grey;
    border-radius: 4px;
    width: 35%;
    margin: 5em auto;
    padding: vars.$gutter;
    text-align: left;
    margin-bottom: 2em;

    @media (max-width : vars.$pad) {
      width: 80%;
    }
  }

  &--paragraphe {
    padding-bottom: 1em;
    margin: 0;
  }


  &--button__mdp {
    color: blue;
    margin-top: 1rem;
    text-decoration: underline;
  }

  &--button__submit{
    width: 100%;
    background-color: #F0C24F;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 1rem 0rem;
  }

  &--button__create{
    background-color: white;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 5em;
    width: 35%;

    @media (max-width : vars.$pad) {
      width: 80%;
    }
  }

  &--section{
    margin: auto;
    text-align: center;
  }
  &--message__display {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    border: 0.1rem solid rgb(242, 159, 159);
    background-color: rgb(242, 159, 159);;
    padding: 0.5rem 0.5rem;
  }
  &--message__hidden {
    display: none;
  }
}



