@use 'src/styles/vars';

.login{
  &--field__input {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 3em;
    border-radius: 4px;
    border: 1px solid grey;
  }

  &--container {
    border: 1px solid grey;
    border-radius: 4px;
    width: 20vw;
    margin: 5em auto;
    padding: vars.$gutter;
    text-align: left;
    margin-bottom: 2em;
  }

  &--button__mdp {
    color: blue;
    margin-top: 1rem;
    text-decoration: underline;
  }

  &--button__submit{
    width: 100%;
    background-color: #F0C24F;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 1rem 0rem;
  }

  &--button__create{
    background-color: white;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 5em;
    width: 100%;
  }

  &--section{
    margin: auto;
    text-align: center;
    width: 20vw;
  }
  &--message__display {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    border: 0.1rem solid rgb(242, 159, 159);
    background-color: rgb(242, 159, 159);;
    padding: 0.5rem 0.5rem;
  }
  &--message__hidden {
    display: none;
  }
}

@media (min-width : vars.$middle) {
  .login--section{
    width: 40vw;
  }

  .login--container {
    width: 40vw;
  }
}
@media (min-width : vars.$phone) {
  .login--section{
    width: 45vw;
  }

  .login--container {
    width: 45vw;
  }
}




