@use 'src/styles/vars';

.header--nav__item {
  padding: 0.5rem;
  display: inline-block;
  width: auto;
  margin: 0.5rem;
  color: vars.$text-color;
}
  .header--nav__item:hover {
    
    border: 0.1rem solid rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    }


.header--nav__item::first-letter {
  text-transform: uppercase;
}


